body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
    margin: auto;
    width: 100%;
    height: 100%;
    /*padding: 2rem;*/
    overflow: hidden;
    position: absolute;
    top: 0;
}

#map {
    height: 100%;
    width: 100%;
}

/* 自定义缩放按钮的位置 */
.ol-zoom {
    position: absolute;
    top: 10px;  /* 调整垂直位置 */
    right: 10px;  /* 将其移到右上角 */
}

/* 自定义重置旋转按钮的位置 */
.ol-rotate {
    position: absolute;
    top: 40px;    /* 调整距离顶部的距离，避免与缩放按钮重叠 */
    right: 10px;  /* 将旋转重置按钮也移到右上角 */
}

/* 修改鼠标位置控件的位置 */
.ol-mouse-position {
    position: absolute;
    bottom: 1px; /* 将控件移到底部 */
    right: 1px;   /* 将控件移到右边 */
    height: 20px;
    width: 200px;
    background: white;
    padding-left: 5px;
    padding-bottom: 3px;
}
