:root {
    --control-bg-color: rgba(235, 237, 241, 0.8);
    --control-hover-color: rgba(235, 237, 241, 1);
    --control-text-color: #444746;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
    margin: auto;
    width: 100%;
    height: 100%;
    /*padding: 2rem;*/
    overflow: hidden;
    position: relative;
    top: 0;
}

/* openLayers瓦片地图 */
#map {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
}

/* 叠加显示react根组件 */
#app {
    height: 100%;
    width: 100%;
}

/* 自定义缩放按钮的位置 */
.ol-zoom {
    position: fixed;
    top: 20px; /* 调整垂直位置 */
    right: 20px; /* 将其移到右上角 */
    display: flex;
}

.ol-zoom-in,
.ol-zoom-out,
.ol-rotate-reset{
    height: 40px;
    width: 40px;
    /*border-radius: 20px;*/
    font-size: 25px;
    border-width: 0;
    background: var(--control-bg-color);
    color: var(--control-text-color);
    user-select: none;
}

.ol-zoom-in:hover,
.ol-zoom-out:hover,
.ol-rotate-reset:hover {
    background: var(--control-hover-color);
}

.ol-zoom-in {
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

.ol-zoom-out {
    margin-left: 0.5px;
    font-size: 22px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}

/* 自定义重置旋转按钮的位置 */
.ol-rotate {
    position: absolute;
    top: 20px; /* 调整距离顶部的距离，避免与缩放按钮重叠 */
    right: 120px; /* 将旋转重置按钮也移到右上角 */
    height: 40px;
    width: 40px;
    display: none;
}

/* 修改鼠标位置控件的位置 */
.ol-mouse-position {
    position: absolute;
    bottom: 1px; /* 将控件移到底部 */
    right: 1px; /* 将控件移到右边 */
    height: 30px;
    width: 100%;
    background: var(--control-bg-color);
    padding-left: 5px;
    padding-right: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* 左上角文本消息 */
#text-message {
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: var(--control-bg-color);
    padding: 5px;
    border-radius: 5px;
    z-index: 100;
}
